.habilidades__bg{
  padding: 0px 20px;
}
.habilidades__container{
  max-width: 1110px;
  margin: 0 auto;
  padding: 72px 0px;
}

.habilidades__list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 58px 30px;
  position: relative;
}

.habilidades__list::after{
  position: absolute;
  content: "";
  width: 530px;
  height: 129px;
  display: block;
  background-image: url("../../../../public/images/pattern-rings.svg");
  bottom: -55px;
  right: -404px;
}

.habilidade__title{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 48px;
  letter-spacing: -1.5px;
  font-weight: 700;
  line-height: 1.166;
  color: #fff;
  margin-bottom: 14px;
}

.habilidade__experience{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  line-height: 1.555;
  color: #D9D9D9;
}

@media(max-width:1000px){
  .habilidades__list{
    grid-template-columns: 1fr 1fr;
  }
  .habilidades__container{
   padding: 52px 0px;
  }
}

@media(max-width:600px){
  .habilidades__list{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 24px;
  }
  .habilidade__title{
    font-size: 32px;
    letter-spacing: -1px;
    line-height: 1.25;
    margin-bottom: 1px;
    }
    .habilidade__experience{
      font-size: 16px;
      line-height: 1.625;
    }
    .habilidades__container{
      padding: 40px;
    }
    .habilidades__list::after{
      bottom: -107px;
    }
}
