.contact__bg{
  background-color: #242424;
  padding: 0px 20px;
}

.contact__container{
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 84px;
  padding-bottom: 92px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact__title{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 88px;
  letter-spacing: -2.5px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 36px;
}

.contact__text{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  line-height: 1.555;
  color: #D9D9D9;
  max-width: 38ch;
}

.contact__form{
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}

.contact__form input,.contact__form textarea{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: -0.22px;
  color: #fff;
  padding: 0px 0px 16px 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
}

.contact__form input::placeholder,.contact__form textarea::placeholder{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: -0.22px;
  color: #fff;
  opacity: .5;
}
.contact__form textarea{
  height: 107px;
}

.contato{
  display: none;
}
.warninginput,.warninginputname{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: -0.17px;
  margin: 0;
  padding: 0;
  right: 0;
  top: 122px;
  position: absolute;
  color: #FF6F5B;
}

.warninginputname{
  top: 48px;
}
.contact__form .email-error{
  border-color: #FF6F5B;
}
@media (max-width:1000px){
  .contact__title{
    font-size: 72px;
    margin-bottom: 20px;
  }
  .contact__container{
    grid-template-columns: 1fr;
    text-align: center;
    padding-top: 60px;
  }

  .contact__text{
    margin: 0 auto 48px;
  }

  .contact__form{
    min-width: 445px;
    margin: 0 auto;
  }
}

@media (max-width:500px){
  .contact__title{
    font-size: 48px;
  }
  .contact__text{
    font-size: 16px;
    line-height: 1,625;
  }
  .contact__form{
    min-width: 100%;
    margin: 0 auto;
  }
}