.contact-btn{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 700;
  letter-spacing: 2.29px;
  padding: 0 0px 10px;
   background-color: transparent;
   border: none;
   border-bottom: 2px solid #4EE1A0;
   cursor: pointer;
   color: #fff;
   transition: all .3s;
   z-index: 1;
   position: relative;
 }
 
 .contact-btn:hover{
   color: #4EE1A0;
 }