.header__logo{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 32px;
  letter-spacing: -0.44px;
  font-size: 700;
  color: #fff;
  position: relative;
  z-index: 2;
}

@media (max-width:500px){
  .header__logo{
    font-size: 24px;
  }
}