body{
  margin: 0;
  background-color: #151515;
  overflow-x: hidden;
  position: relative;
}

html,body{
  overflow-x: hidden;
}

h1,h2,h3,p{
  margin: 0;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

img{
  max-width: 100%;
  display: block;
}

a{
  text-decoration: none;
  display: inline-block;
}

textarea {
  resize: none;
}