.projects__container{
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 85px;
  padding-bottom: 139px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.projects__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.projects__title{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 88px;
  font-weight: 700;
  letter-spacing: -2.5px;
  color: #fff;
}

.projects__list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 69px 30px;
}

.project__photo{
  position: relative;
  transition: .3s;
}

.project__photo img{
  width: 540px;
  height: 400px;
  margin-bottom: 20px;
}

.project__title{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.333;
  color: #fff;
  margin-bottom: 7px;
}

.project__habilidades{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
  line-height: 1.555;
  color: #D9D9D9;
  display: flex;
  gap: 18px;
}

.contact__form .contact-btn{
  place-self: flex-end;
}

.project__overlayer{
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000a8;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  transition: all .3s;
}

.project__link{
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
  line-height: 1.625;
  font-weight: 700;
  letter-spacing: 2.29px;
  color: #fff;
  border-bottom: 2px solid #4EE1A0;
  transition:  color .3s;
  padding-bottom: 10px;
}

.project__link:hover{
  color: #4EE1A0;
}

.project__photo:hover .project__overlayer{
  visibility: visible;
  opacity: 1;
}

@media(max-width:1000px){
  .project__photo{
    width: 100%;
    height: 100%;
  }
  .projects__title{
    font-size: 72px;
    letter-spacing: -2.05px;
    line-height: 1;
  }
  .project__photo img{
    width: 342px;
    height: 253px;
    margin-bottom: 20px;
  }
  .project__overlayer{
    width: 342px;
    height: 253px;
    gap: 20px;
  }

  .projects__container{
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .projects__list{
    justify-items: center;
  }

  .projects__top{
    margin-bottom: 60px;
  }
}

@media(max-width:760px){
  .projects__list{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .projects__container{
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .projects__top{
    margin-bottom: 40px;
  }
  .project__overlayer{
    visibility:visible;
    opacity: 1;
    width: auto;
    height: auto;
    flex-direction: row;
    gap:30px;
    background-color: transparent;
    bottom: -135px;
  }

  .project__habilidades{
    margin-bottom: 38px;
  }
}

@media (max-width:600px){
  .projects__title{
    font-size: 40px;
    letter-spacing: -1.14px;
  }
}